<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="UserId" value="AB068516"/>
    <add key="Password" value="@Jmatrix10"/>
    <add key="Answer1" value="1980"/>
    <add key="Answer2" value="a"/>
    <add key="ClientId" value="AB074862"/>
    <add key="ClientSecret" value="290BX4QFE1HWBHJ59PJCYMU1G45X8VXIIEVRO7TLYBY98LIVD5AGWIXQO95292GS"/>
    <add key="Token" value="TRbWYB_FsU-wExSE7h9iohM0pX0PRzrULhkjq6d9ZF4.zeW5-fS0TJCXE8iOi-l_Q8MUFetexOX4FYCdUFso0sE" />
    <add key="TokenCreatedOn" value="" />
    <add key="TradeAutoExecutionTime" value="09:20" />
    <add key="Quantity" value="25"/>
    <add key="Lots" value="1"/>
    <add key="StopLossPercentage" value="20"/>
    <!--<add key="ExpiryWeek" value="11 FEB21"/>-->
    <!--<add key="ExpiryWeek" value="FEB"/>-->
    <!--<add key="ExpiryWeek" value="11 FEB21"/>-->
    <add key="ExpiryWeek" value="06 JAN22"/>
    <add key="MTMProfit" value="5000"/>
    <add key="MTMLoss" value="-5000"/>
    <add key="OTMDiff" value="1000"/>
  </appSettings>
</configuration>
