################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TradingApplication/obj/Release
/TradingApplication/bin/Release
/AliceBlueWrapper/obj
/AliceBlueWrapper/bin/Release/netstandard2.0
